<?xml version="1.0"?>
<model>
  <name>cable</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rajeev Gupta</name>
    <email>rajeev.dharmendra.gupta@gmail.com</email>

  </author>
  <description>
    A cable modeled by N cylidrical segments...
  </description>
</model>
 